<div class="collection__wrapper">
   <div class="container">

      {% assign blueprints = site.blueprints | sort: "order" %}

		<div class="row collection__header text-center">
         <div class="col-md-12" style="text-align: left;">
            <h2 class="h1">Base</h2>
            <p style="padding: 0px;">These are the base blueprints we use to define the API lifecycle, laying a base that anyone can use to define their own.</p>
        </div>
      </div>      
      <div>
         {% for blueprint in blueprints %}
            {%if blueprint.stage == 'Master' %}
               {% include blueprints.html %}
            {% endif %}        
          {% endfor %}            
      </div>
      <hr>
		<div class="row collection__header text-center">
         <div class="col-md-12" style="text-align: left;">
            <h2 class="h1">New APIs</h2>
            <p style="padding: 0px;">When creating a new API there are multiple opportunities for taking a design-first approach to beginning the lifecycle.</p>
        </div>
      </div>      
      <div>
         {% for blueprint in blueprints %}
            {%if blueprint.stage == 'New' %}
               {% include blueprints.html %}
            {% endif %}        
          {% endfor %}            
      </div>   
      <hr>
		<div class="row collection__header text-center">
         <div class="col-md-12" style="text-align: left;">
            <h2 class="h1">Existing APIs</h2>
            <p style="padding: 0px;">If you are working with an existing API, these are the blueprints we recommend as your entrance to the API lifecycle.</p>
        </div>
      </div>      
      <div>
         {% for blueprint in blueprints %}
            {%if blueprint.stage == 'Existing' %}
               {% include blueprints.html %}
            {% endif %}        
          {% endfor %}            
      </div>   
      <hr>
		<div class="row collection__header text-center">
         <div class="col-md-12" style="text-align: left;">
            <h2 class="h1">Reverse Engineer</h2>
            <p style="padding: 0px;">Often times we need to reverse engineer the APIs that already exist behind the applications we already depend upon.</p>
        </div>
      </div>      
      <div>
         {% for blueprint in blueprints %}
            {%if blueprint.stage == 'Reverse' %}
               {% include blueprints.html %}
            {% endif %}        
          {% endfor %}            
      </div>      
      <hr>
		<div class="row collection__header text-center">
         <div class="col-md-12" style="text-align: left;">
            <h2 class="h1">Automation</h2>
            <p style="padding: 0px;">These are a handful of blueprints that help automate what is happening across our API operations and teams.</p>
        </div>
      </div>      
      <div>
         {% for blueprint in blueprints %}
            {%if blueprint.stage == 'Automation' %}
               {% include blueprints.html %}
            {% endif %}        
          {% endfor %}            
      </div>        

   </div>
</div>