{% assign blueprints = site.blueprints %}
{% assign this_blueprint = "" %}
{% for blueprint in blueprints %}
   {% if blueprint.name == use_blueprint %}
      {% assign this_blueprint = blueprint %}
   {% endif %}         
{% endfor %}

<center>
   <div style="width: 70%; border: 0px solid #000; text-align: left;" align="center">                

   <h1 class="h1">{{ this_blueprint.name }}</h1>
   <p>{{ this_blueprint.content }}</p>

   {% assign elements = site.elements %}

   {% for area in this_blueprint.areas %}

      <h3>{{ area.label }}</h3>
      <p>{{ area.description }}</p>
         
      {% for element in area.elements %}
         {% for e in elements %}
            {% if e.name == element.name %}
            <h4>{{ element.label }}</h4>
            <p>{{ e.content }}</p>
            {% endif %}   
         {% endfor %}  
      {% endfor %}  

      </ul>
   {% endfor %}      
</div>
</center>
<br>