{% assign any_tools = 0 %}
{% for tool in page.tools %}
   {% if screenshot.title != 'Open Source Tool' %}
      {% assign any_tools = 1 %}
   {% endif %}
{% endfor %}     
{% if any_tools == 1 %}       
<hr>
<!-- Show Related Tools-->
<h2>Open Source Tooling</h2>
<p>These are some of the open source tooling that can help set this action into motion.</p>
<ul>
   {% for tool in page.tools %}
      <li><a href="{{ site.url }}{{ tool.url }}" target=="_blank">{{ tool.title }}</a> - {{ tool.description }}</li>
   {% endfor %}   
</ul>    
<!-- Show Related Tools-->
{% endif %} 