<!-- Show Related Blueprints-->
{% assign blueprints = site.blueprints | sort: "name" %}
{% assign any_blueprints = 0 %}
{% for blueprint in blueprints %}
{% for area in blueprint.areas %}         
    {% for element in area.elements %}
        {% if page.name == element.name %}
            {% assign any_blueprints = 1 %}
        {% endif %}   
    {% endfor %} 
{% endfor %}         
{% endfor %}

{% if any_blueprints == 1 %}
<h3>Blueprints</h3>
<ul>
{% for blueprint in blueprints %}
    {% for area in blueprint.areas %}         
        {% for element in area.elements %}
            {% if page.name == element.name %}
            <li style="padding: 0px; margin: 0px;"><a href="{{ site.url }}{{ blueprint.url }}" target=="_blank">{{ blueprint.name }}</a></li>
            {% endif %}   
        {% endfor %} 
    {% endfor %}         
{% endfor %}
</ul>
{% endif %}   
<!-- Show Related Blueprints-->