{% for ruleset in rulesets %}

    {% assign show_rule = 0 %}
    {% for tag in ruleset.tags %}
    {% if tag == display_tag %}
        {% assign show_rule = 1 %}
    {% endif %} 
    {% endfor %}  

    {% if show_rule == 1 %}        
    <div class="row collection">
        <a name="rulesets-{{ ruleset.slug }}"></a>
        <div class="col-md-1" style="border: 0px solid #000;">
            <img src="{{ site.url }}/{{ ruleset.image }}" width="100">
        </div>               
        <div class="col-md-8" style="border: 0px solid #000;">
            <span style="font-size: 18px; font-weight: bold;">{{ ruleset.name }}</span> - {{ ruleset.description }}</p>
            <ul>
            {% for this_rule in ruleset.rules %}
                {% for rule in rules %}
                    {% if this_rule == rule.slug %}
                    <li><strong>{{ rule.title }}</strong> - {{ rule[rule.slug].description }}</li>
                    {% endif %}
                {% endfor %}  
            {% endfor %}          
            </ul>
        </div>
        <div class="col-md-1" style="border: 0px solid #000;">
            <a href="{{ site.url }}{{ ruleset.url }}" style="color:#000" target="_blank"><img src="{{ site.url }}/images/link-icon.png" width="90">
            <strong>Link</strong></a>
        </div>                
        <div class="col-md-1" style="border: 0px solid #000;">
            <a href="{{ ruleset.discussion }}" style="color:#000" target="_blank"><img src="{{ site.url }}/images/github-issues-icon.png" width="90">
            <strong>Discussion</strong></a>
        </div>                
    </div>
    {% endif %}
{% endfor %} 
<hr><br>