{% assign any_screenshots = 0 %}
{% for screenshot in page.screenshots %}
   {% if screenshot.title != 'Screenshot Description' %}
      {% assign any_screenshots = 1 %}
   {% endif %}
{% endfor %}     
{% if any_screenshots == 1 %}      
   <table width="100%">
      <tr>
         {% for screenshot in page.screenshots %}
            {% if screenshot.title != 'Screenshot Description' %}
               <td width="33%" align="center">
                  <a href="{{ screenshot.url }}" target="_blank"><img src="{{ site.url }}/{{ screenshot.url }}" width="100%" style="border: 0px solid #000; padding: 2px;"></a>
                  <strong>{{ screenshot.title }}</strong>
               </td> 
            {% endif %}
         {% endfor %}           
      </tr>         
   </table>         
<hr>
{% endif %} 