
<section style="border: 0px solid #FFF; width: 100%;">
	<table width="100%" style="border: 0px solid #FFF">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" align="center"><img src="../../../images/postman.jpg" width="250" align="center"></td>
		</tr>
		<tr>
			<td style="vertical-align: middle;" align="center">{{ this_blueprint }}</td>
		</tr>
	</table><br><br><br><br>	
</section>

{% for blueprint in blueprints %}

	{% if blueprint.name == this_blueprint %}

		{% for area in blueprint.areas %}

			<section>
				<img src="{{ site.url }}/{{ area.image}}" width="200" align="left" style="padding: 25px;">
				<h2 style="text-align: left;">{{ area.label }}</h2>
				<p style="font-size: 22px; text-align: left;">{{ area.description }}</p>
			</section>

			{% for element in area.elements %}
				{% for e in elements %}
					{% if e.name == element.name %}
					<section>
						<h3>{{ element.label }}</h3>
						<p style="font-size: 22px; text-align: left;">{{ e.description }}</p>
					</section>
					{% endif %}   
				{% endfor %}  
			{% endfor %}  

		{% endfor %}  

	{% endif %}   

{% endfor %}  
				
<section style="border: 0px solid #FFF; width: 100%;">
	<table width="100%" style="border: 0px solid #FFF">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" align="center"><img src="../../../images/postman.jpg" width="250" align="center"></td>
		</tr>
		<tr>
			<td style="vertical-align: middle;" align="center">The End</td>
		</tr>
	</table><br><br><br><br>	
</section>