---
layout: default
title: Products
---

<style id="compiled-css" type="text/css">
h2{
padding: 0;
margin: 0;
font-size: 24px;
}
h2{
padding: 0px 0px 8px 0px;
margin: 0px auto;
text-align: center;
font-size: 20px;
text-decoration: underline;
}
h3{
padding: 0px auto;
margin: 5px auto;
text-align: center;
font-size: 16px;
border: 1px solid #000;
}
#container{
width: 90%;
margin: 0 auto;
padding: 2px auto;
background-color: #FFF;
border-radius: 10px;
padding: 10px;
overflow: hidden;
}
#header{
background-color: FFF;
width: 100%;
margin: 0 auto;
border-radius: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-bottom: 0px;
}

#business{
background-color: #FFF;
border: 1px solid #000;
float: left;
width: 150px;
margin: 10px;
padding: 10px 2px 2px 2px;
border-radius: 10px;
min-height: 475px;
background: linear-gradient(to bottom, white 0%, #8abdff 100%)
}    

#technical{
background-color: #FFF;
border: 1px solid #000;
float: left;
width: 150px;
margin: 10px;
padding: 10px 2px 2px 2px;
border-radius: 10px;
min-height: 475px;
background: linear-gradient(to bottom, white 0%, #ffc895 100%)
}  
#inner{
    background-color: FFF;
    border: 1px solid #000;
    float: left;
    width: 92%;
    margin: 5px;
    padding: 10px 3px 3px 3px;
    border-radius: 10px;
    font-size: 12px;
    min-height: 40px;
    display: -webkit-flex;
    display: flex;
    background-color: #FFF;
}  

.inner-text{
    width: 100%; 
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
    text-align: center; 
    border: 0px solid #000; 
    position: relative;  
    font-size: 14px;
    min-height: 50px;
    display: inline;
}

.icon{
width: 25px; height: 25px; top: -19px; right: -10px; position: absolute; padding:0px; margin: 0px; border: 0px solid #000; 
}
.icon2{
width: 25px; height: 25px; top: -19px; left: -10px; position: absolute; padding:0px; margin: 0px;border: 0px solid #000; 
}
.icon3{
width: 25px; height: 25px; top: 7px; left: -10px; position: absolute; padding:0px; margin: 0px;border: 0px solid #000; 
}
.icon4{
width: 25px; height: 25px; top: 35px; left: -10px; position: absolute; padding:0px; margin: 0px;border: 0px solid #000; 
}
</style>

<div id="container" style="border: 0px solid #000; margin-top: 50px;">
    <table border="0" align="center">
        <tr>
            <td>
                <div id="header">

                    <h1>Digital Product Blueprint</h1>
                    <p>This is an opinionated visual and outline to help demonstrate what a complete digital product can be when you adopt an API-first strategy, providing a common approach to defining the API lifecycle, governance, tooling, and which roles are needed to move APIs forward.</p>

                </div>

            </td>
        </tr>



        <tr>
            <td>
                <div id="header">
                    <ul style="font-size: 20px; padding-top: 10px;">
                        <li><strong>Approach</strong>- Design-Led</li>
                        <li><strong>Visibility</strong>- Public</li>
                        <li><strong>Maturity</strong>- Production</li>
                    </ul>

                </div>

            </td>
        </tr>

        <tr>
            <td align="center"><hr /></td>
        </tr>          

        <tr>
            <td><img src="../images/producer-consumer-lifecycle.png" width="100%"></td>
        </tr>        

        <tr>
            <td align="center"><hr /></td>
        </tr> 

        <tr>
            <td>   

                <!--LIFECYCLE--> 
                <h1 style="text-align: left;">Producer Lifecycle</h1>
                {% for producer in site.data.design.producer %}
                <div id="{{ producer.type }}" style="min-height: 725px; width: 10%;">
                    <h2>{{ producer.name }}</h2>
                    {% for element in producer.elements %}
                        <div id="inner">
                            <div class="inner-text">
                                {% if element.tools.one.name %}<img src="../images/{{ element.tools.one.name | replace: ' ','-' | downcase }}-icon.png" class="icon" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.one.description }}">{% endif %}                                
                                {% if element.tools.two.name %}<img src="../images/{{ element.tools.two.name | replace: ' ','-' | downcase }}-icon.png" class="icon2" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.two.description }}">{% endif %}     
                                {% if element.tools.three.name %}<img src="../images/{{ element.tools.three.name | replace: ' ','-' | downcase }}-icon.png" class="icon3" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.three.description }}">{% endif %}     
                                {% if element.tools.four.name %}<img src="../images/{{ element.tools.four.name | replace: ' ','-' | downcase }}-icon.png" class="icon4" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.four.description }}">{% endif %}     
                                <button style="background-color:#FFF; border-color:#FFF; color:#000; font-size: 14px;" type="button" class="btn btn-secondary" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.text }}">
                                    {{ element.name }}
                                </button>                        
                            </div>
                        </div>
                    {% endfor %}                    
                </div>
                {% endfor %}
                <!--LIFECYCLE--> 

            </td>
        </tr> 
        
        

        <tr>
            <td>

                <h1 style="text-align: left;">Roles</h1>

                <!--Roles--> 
                {% for producer in site.data.design.roles %}
                <div id="{{ producer.type }}" style="min-height: 325px; width: 10%;">
                    <h2>{{ producer.name }}</h2>
                    {% for element in producer.elements %}
                        <div id="inner">
                            <div class="inner-text">
                                {% if element.tools.one.name %}<img src="../images/{{ element.tools.one.name | replace: ' ','-' | downcase }}-icon.png" class="icon" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.one.description }}">{% endif %}                                
                                {% if element.tools.two.name %}<img src="../images/{{ element.tools.two.name | replace: ' ','-' | downcase }}-icon.png" class="icon2" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.two.description }}">{% endif %}     
                                {% if element.tools.three.name %}<img src="../images/{{ element.tools.three.name | replace: ' ','-' | downcase }}-icon.png" class="icon3" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.three.description }}">{% endif %}     
                                {% if element.tools.four.name %}<img src="../images/{{ element.tools.four.name | replace: ' ','-' | downcase }}-icon.png" class="icon4" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.four.description }}">{% endif %}     
                                <button style="background-color:#FFF; border-color:#FFF; color:#000; font-size: 14px;" type="button" class="btn btn-secondary" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.text }}">
                                    {{ element.name }}
                                </button>                        
                            </div>
                        </div>
                    {% endfor %}                    
                </div>
                {% endfor %}
                <!--Roles--> 

            </td>
        </tr>

        

        <tr>
            <td>    
                
                <h1 style="text-align: left;">Governance</h1>

                <!--Governance--> 
                {% for producer in site.data.design.governance %}
                <div id="{{ producer.type }}" style="min-height: 350px; width: 10%;">
                    <h2>{{ producer.name }}</h2>
                    {% for element in producer.elements %}
                        <div id="inner">
                            <div class="inner-text">
                                {% if element.tools.one.name %}<img src="../images/{{ element.tools.one.name | replace: ' ','-' | downcase }}-icon.png" class="icon" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.one.description }}">{% endif %}                                
                                {% if element.tools.two.name %}<img src="../images/{{ element.tools.two.name | replace: ' ','-' | downcase }}-icon.png" class="icon2" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.two.description }}">{% endif %}     
                                {% if element.tools.three.name %}<img src="../images/{{ element.tools.three.name | replace: ' ','-' | downcase }}-icon.png" class="icon3" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.three.description }}">{% endif %}     
                                {% if element.tools.four.name %}<img src="../images/{{ element.tools.four.name | replace: ' ','-' | downcase }}-icon.png" class="icon4" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.four.description }}">{% endif %}     
                                <button style="background-color:#FFF; border-color:#FFF; color:#000; font-size: 14px;" type="button" class="btn btn-secondary" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.text }}">
                                    {{ element.name }}
                                </button>                        
                            </div>
                        </div>
                    {% endfor %}                    
                </div>
                {% endfor %}
                <!--Governance-->  

            </td>
        </tr>      

        <tr>
            <td align="center"><img src="../images/producer-consumer-lifecycle-handoff.png" width="25%" align="center"></td>
        </tr>  

        <tr>
            <td>     
                
                <h1 style="text-align: left;">The Consumer API Lifecycle</h1>
                <!--Governance--> 
                {% for producer in site.data.design.consumer %}
                <div id="{{ producer.type }}" style="min-height: 570px; width: 13.5%;">
                    <h2>{{ producer.name }}</h2>
                    {% for element in producer.elements %}
                        <div id="inner">
                            <div class="inner-text">
                                {% if element.tools.one.name %}<img src="../images/{{ element.tools.one.name | replace: ' ','-' | downcase }}-icon.png" class="icon" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.one.description }}">{% endif %}                                
                                {% if element.tools.two.name %}<img src="../images/{{ element.tools.two.name | replace: ' ','-' | downcase }}-icon.png" class="icon2" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.two.description }}">{% endif %}     
                                {% if element.tools.three.name %}<img src="../images/{{ element.tools.three.name | replace: ' ','-' | downcase }}-icon.png" class="icon3" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.three.description }}">{% endif %}     
                                {% if element.tools.four.name %}<img src="../images/{{ element.tools.four.name | replace: ' ','-' | downcase }}-icon.png" class="icon4" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.tools.four.description }}">{% endif %}     
                                <button style="background-color:#FFF; border-color:#FFF; color:#000; font-size: 14px;" type="button" class="btn btn-secondary" data-bs-trigger="hover" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ element.text }}">
                                    {{ element.name }}
                                </button>                        
                            </div>
                        </div>
                    {% endfor %}                    
                </div>
                {% endfor %}
                <!--Governance-->                 

            </td>
        </tr>

    </table>

</div>