---
name: Contract Testing Results
description: 
  - The results of any contract testing run can be rendered as test results, presented using visualizer, and posted to existing APM or other destination that can be used as part of wider observability systems, allowing contract tests across all APIs to be centralized for understanding API performance at scale.
links:
    - title: Link Title
      url: http://example.com
    - title: Link Title
      url: http://example.com
    - title: Link Title
      url: http://example.com            
video: ''
screenshots:
  - title: Screenshot Description
    url: https://postman-open-technologies.github.io/lifecycle//images/postman-screenshot.png          
  - title: Screenshot Description
    url: https://postman-open-technologies.github.io/lifecycle//images/postman-screenshot.png  
  - title: Screenshot Description
    url: https://postman-open-technologies.github.io/lifecycle//images/postman-screenshot.png   
elements:
  - name: Contract Testing Monitor
    label: Contract Testing Monitor   
    context: 0     
  - name: Contract Testing Monitor Results
    label: Contract Testing Monitor Results   
    context: 0   
  - name: Contract Testing Monitor Report
    label: Contract Testing Monitor Report   
    context: 0      
...
When each collection is executed by a monitor or pipeline it has a set of results that can be published to any location and saved for reporting upon and included in other dashboards. Having a strategy and standardized approach to handling the results of contract test runs helps inform individual developers and testers how they can handle test rules, and potentially allowing compliance with overall organizational API governance. Formalizing how test results inform API operations in real time, but also potentially providing historical data on the contract testing across teams and APIs.