---
layout: slides
---

<section style="border: 0px solid #FFF; width: 100%;">
	<table width="100%" style="border: 0px solid #FFF">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" align="center"><img src="../images/services/postman.jpg" width="250" align="center"></td>
		</tr>
		<tr>
			<td style="vertical-align: middle;" align="center">The API Landscape</td>
		</tr>
	</table><br><br><br><br>	
</section>
<section style="border: 0px solid #FFF; width: 100%;">
	<img src="../images/Postman-API-Platform-Landscape-2021-2048x1420.png" width="100%">
</section>				
<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" colspan="2">Postman Evolution 2013 through 2016</td>
		</tr>						
		<tr>
			<td style="vertical-align: middle; padding-top: 25px;" align="center">
				<img src="../images/api-monitoring-postmanaut.png" width="450">
			</td>
			<td style="vertical-align: middle;" align="left">
				<ul style="font-size: 24px;">
					<li>2013 - Client</li>
					<li>2013 - Testing</li>
					<li>2013 - Automation</li>
					<li>2014 - CI/CD</li>
					<li>2015 - Documentation</li>
					<li>2016 - Monitoring</li>
					<li>2016 - Source Control</li>
					<li>2016 - Gateways</li>
				</ul>							
			</td>
		</tr>
	</table>					
</section>
<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" colspan="2">Postman Evolution 2013 through 2016</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle; padding-top: 25px;" align="center">
				<img src="../images/api-monitoring-postmanaut.png" width="450">
			</td>
			<td style="vertical-align: middle;" align="left">
				<ul style="font-size: 24px;">
					<li>2016 - APM</li>
					<li>2017 - Mocking</li>
					<li>2018 - Collaboration</li>
					<li>2019 - Design</li>
					<li>2019 - Catalog</li>
					<li>2020 - Observability</li>
					<li>2021 - Security</li>
					<li>2021 - Governance</li>
				</ul>							
			</td>
		</tr>
	</table>					
</section>	
<section style="border: 0px solid #FFF; width: 100%;">
	<img src="../images/Postman-API-Platform-Landscape-2021-2048x1420.png" width="100%">
</section>	
<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Client Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Client" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>	

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Testing & Automation Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Testing" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>	

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The CI/CD Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "CI/CD" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Documentation Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Documentation" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Monitoring Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Monitoring" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The Source Control Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Source Control" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Gateway Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Gateways" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The APM Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "APM" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Mocking Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Mocking" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Collaboration Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Collaboration" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Design Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Design" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Catalog Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Catalog" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Observability Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Observability" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Security Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Security" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;">The API Governance Landscape</td>
		</tr>							
		<tr>
			<td style="vertical-align: middle;" align="center">
				{% assign show_tag = "Governance" %}
				{% include service.html %}    						
			</td>
		</tr>
	</table>	  					
</section>
<section style="border: 0px solid #FFF; width: 100%;">
	<img src="../images/Postman-API-Platform-Landscape-2021-2048x1420.png" width="100%">
</section>	

<section>
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" colspan="2">API Capabilities</td>
		</tr>						
		<tr>
			<td style="vertical-align: middle;" align="center">
				<img src="../images/Postman-API-Platform-Landscape-2021-2048x1420.png" width="100%">
			</td>
			<td style="vertical-align: middle;" align="left">
				<ul style="font-size: 34px;">
					<li>Native</li>
					<li>Partner</li>
					<li>Integration</li>
					<li>Competitive</li>
					<li>Analyst</li>				
				</ul>							
			</td>
		</tr>
	</table>					
</section>

<section>
	<table width="100%" border="1">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" colspan="2">Customer View</td>
		</tr>						
		<tr>
			<td style="vertical-align: middle; padding-top: 25px; border: 1px solid #FFF;" align="center">
				<img src="../images/Postman-API-Platform-Landscape-2021-2048x1420.png" width="100%">
			</td>
			<td style="vertical-align: middle; border: 1px solid #FFF;" align="left">
				<ul style="font-size: 34px;">
					<li>Lifecycle</li>
					<li>Maturity</li>
					<li>Roles</li>
					<li>Priorities</li>				
					<li>Strategy</li>		
				</ul>							
			</td>
		</tr>
	</table>					
</section>
<section style="border: 0px solid #FFF; width: 100%;">
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" colspan="2">Customer Journey</td>
		</tr>						
		<tr>
			<td style="vertical-align: middle; padding-top: 25px;" align="center">
				<img src="../images/journey.png" width="75%">						
			</td>
		</tr>
	</table>		
</section>	
<section style="border: 0px solid #FFF; width: 100%;">
	<img src="../images/Postman-API-Platform-Landscape-2021-2048x1420.png" width="100%">
</section>				
<section>
<section style="border: 0px solid #FFF; width: 100%;">
	<table width="100%">
		<tr>
			<td style="vertical-align: middle; text-align: center; border: 0px solid #FFF;" colspan="2">Thank You!</td>
		</tr>						
		<tr>
			<td style="vertical-align: middle; padding-top: 25px;" align="center">
				<img src="https://s3.amazonaws.com/kinlane-productions2/kin-lane/kin-lane-api-evangelist-cartoon.png" width="25%">						
			</td>
		</tr>
	</table>		
</section>	