---
layout: default
---
<div class="container-fluid hero v5_starfield-small-night-sky pb-4">
   <div class="container">
      <div class="row">
         <div class="col-md-6 hero_title">
            <h1>{{ site.title }}</h1>
         </div>
         <div class="col-md-6 hero_image"><img src="{{ site.image }}" alt=""></div>
      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-md-10 offset-md-1 welcome text-center">
         <p>{{ site.description }} (<a href="{{ site.url }}/">Main Page</a>)</p>
      </div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

		<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">{{ page.name }}</h2>
            <p>{{ page.description }}</p>
         </div>
      </div>

      <center>
      <div style="width: 70%; border: 0px solid #000; text-align: left;" align="center">

         {{ content }}

      </div>
      </center>

      <!-- Show Video-->
      <hr>
      <center>{{ page.video }}</center>
      <p align="center">[Just an Example Video]</p>
      <hr>
      <!-- Show Video-->    
      
      <table width="100%">
         <tr>
            {% for screenshot in page.screenshots %}
            <td width="33%" align="center">
               <a href="{{ screenshot.url }}" target="_blank"><img src="{{ screenshot.url }}" width="100%" style="border: 2px solid #000; padding: 2px;"></a>
               <strong>{{ screenshot.title }}</strong>
            </td> 
            {% endfor %}           
         </tr>         
      </table>
      <hr>
      <!-- Show Related Tools-->
      <h2>Open Source Tooling</h2>
      <p>These are some of the open source tooling that can help set this action into motion.</p>
      <ul>
         {% for tool in page.tools %}
            <li><a href="{{ site.url }}{{ tool.url }}" target=="_blank">{{ tool.title }}</a> - {{ tool.description }}</li>
         {% endfor %}   
      </ul>    
      <!-- Show Related Tools-->

      <br>
   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>API Lifecycle Blueprints</h2>
         <p class="collection__end_p">Return to the main page of API lifecycle blueprints to look through the list of blueprints.
         </p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="/">Return to Main Page</a></div>
   </div>
</div>
