---
layout: default
---
<div class="container-fluid hero v5_starfield-small-night-sky pb-4">
   <div class="container">
      <div class="row">
         <div class="col-md-6 hero_title" style="padding: 125px 0px 0px 0px; margin: 0px;">
            <h1><a href="{{ site.url }}" style="color: #FFF;">{{ site.title }}</a></h1>
         </div>
         <div class="col-md-6 hero_image" style="padding: 0px; margin: 0px;"><a href="{{ site.url }}"><img src="{{ site.url }}/images/lifecycle.png" alt="" width="350"></a></div>
      </div>
   </div>
</div>

<div>
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1"><strong>Blueprint:</strong> {{ page.name }}</h2>
            <p>{{ page.description }}</p>
         </div>
      </div>
      <script>
         function showAdditional(id){
            console.log(id);
            if(document.getElementById(id).style.display == 'none'){
               document.getElementById(id).style.display = '';
            }
            else{
               document.getElementById(id).style.display = 'none';
            }
         }
      </script>
      <center>
         <div style="width: 70%; border: 0px solid #000; text-align: left;" align="center">          
         
         {{ content }}          

         {% assign elements = site.elements %}
         {% assign area_count = 1 %}

         <hr>
         {% for area in page.areas %}

            <h3><img src="{{ site.url }}/{{ area.image}}" width="75" align="left" style="padding: 5px;">{{ area.label }} <!--<a href="#" onclick="showAdditional('additional-{{ area_count }}'); return false;" title="Additional Elements to Consider"><img src="{{ site.url }}/images/plus-sign.png" width="30"></a>--></h3>
            <p>{{ area.description }}</p>
         
            <ul>
            {% for element in area.elements %}
               {% for e in elements %}
                  {% if e.name == element.name %}
                     <li><a href="{{ site.url }}{{ e.url }}" target=="_blank" style="color: #000; font-weight: bold; text-decoration: underline;">{{ element.label }}</a> - {% if element.context %} {% if element.context == 1 %}{{ e.description[0] }} {% endif %}{% if element.context == 2 %}{{ e.description[1] }} {% endif %}{% if element.context == 3 %}{{ e.description[2] }}{% endif %} {% else %} {{ e.description }} {% endif %}</li>
                  {% endif %}   
               {% endfor %}  
            {% endfor %}  
            <div id="additional-{{ area_count }}" style="display: none;">
            
               <!-- Begin Additional -->
            {% for blueprint in site.blueprints %}
               {% if blueprint.name == 'Maximum Viable' %}
                  {% assign master = blueprint %}
               {% endif %}   
            {% endfor %} 

            {% for master_area in master.areas %}
               {% if master_area.label == area.label %}
                  {% for master_element in master_area.elements %}
                     {% assign already_used = 0 %}
                     {% for element in area.elements %}
                        {% if master_element.name == element.name %}                           
                           {% assign already_used = 1 %}
                        {% endif %}  
                     {% endfor %}  
                     {% if already_used == 0 %}
                        {% for e in elements %}
                           {% if e.name == master_element.name %}
                              <li><a href="{{ site.url }}{{ e.url }}" target=="_blank" style="color: #FF0000">{{ master_element.label }}</a> - {{ e.description[e.context] }}</li>
                           {% endif %}   
                        {% endfor %}  
                     {% endif %}   
                  {% endfor %}   
               {% endif %}   
               {% assign area_count = area_count | plus: 1 %}
            {% endfor %} 
            <!-- End Additional -->
            </div>
            </ul>
            <hr>
         {% endfor %}      
      </div>
      </center>

      <table align="center" width="50%">
         <tr>
            <td width="33%" align="center">
               <a href="{{ page.discussion }}" target="_blank"><img src="{{ site.url }}/images/github-issues-icon.png" width="100" style="padding: 10px;"></a>
               <br><a href="{{ page.discussion }}" target="_blank" style="color:#000; font-size: 22px"><strong>Discussions</strong></a>
            </td>
            <td width="33%" align="center">
               <a href="{{ page.yaml }}" target="_blank"><img src="{{ site.url }}/images/yaml-icon.png" width="100" style="padding: 10px;"></a>
               <br><a href="{{ page.yaml }}" target="_blank" style="color:#000; font-size: 22px"><strong>YAML</strong></a>
            </td>
            <td width="33%" align="center">
               {% assign pdf_path = page.path | replace: '_blueprints/','' | replace: '.md','' %}               
               <a href="{{ site.url }}/pdf/{{ pdf_path }}" target="_blank"><img src="{{ site.url }}/images/printable.png" width="100" style="padding: 10px;"></a>
               <br><a href="{{ site.url }}/pdf/{{ pdf_path }}" target="_blank" style="color:#000; font-size: 22px"><strong>Printable</strong></a>
            </td>            
         </tr>         
      </table>       
      
      <br>
   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>Return to Main Page</h2>
         <p class="collection__end_p">This provides a link back to the home page if you need it.
         </p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="{{ site.url }}">Return to Main Page</a></div>
   </div>
</div>
