---
layout: default
---
<div class="container-fluid hero v5_starfield-small-night-sky pb-4">
   <div class="container">
      <div class="row">
         <div class="col-md-6 hero_title">
            <h1>{{ site.title }}</h1>
         </div>
         <div class="col-md-6 hero_image"><img src="{{ site.image }}" alt=""></div>
      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-md-10 offset-md-1 welcome text-center">
         <p>{{ site.description }} (<a href="{{ site.url }}/">Main Page</a>)</p>
      </div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">Blueprint: {{ page.name }}</h2>
            <p>{{ page.description }}</p>
         </div>
      </div>
      <script>
         function showAdditional(id){
            console.log(id);
            if(document.getElementById(id).style.display == 'none'){
               document.getElementById(id).style.display = '';
            }
            else{
               document.getElementById(id).style.display = 'none';
            }
         }
      </script>
      <center>
         <div style="width: 70%; border: 0px solid #000; text-align: left;" align="center">          
         
         {{ content }}          

         {% assign elements = site.elements %}
         {% assign area_count = 1 %}

         <hr>
         {% for area in page.areas %}

            <h3>{{ area.label }}</h3>
            <p>{{ area.description }} (<a href="#" onclick="showAdditional('additional-{{ area_count }}'); return false;" title="Additional elements to consider that aren't part of this blueprint.">Additional Elements</a>)</p>
         
            <ul>
            {% for element in area.elements %}
               {% for e in elements %}
                  {% if e.name == element.name %}
                     <li><a href="{{ site.url }}{{ e.url }}" target=="_blank">{{ element.label }}</a> - {{ e.description }}</li>
                  {% endif %}   
               {% endfor %}  
            {% endfor %}  
            <div id="additional-{{ area_count }}" style="display: none;">
            <!-- Begin Additional -->
            {% for blueprint in site.blueprints %}
               {% if blueprint.name == 'Master' %}
                  {% assign master = blueprint %}
               {% endif %}   
            {% endfor %} 
            {% for master_area in master.areas %}
               {% if master_area.label == area.label %}
                  {% for master_element in master_area.elements %}
                     {% assign already_used = 0 %}
                     {% for element in area.elements %}
                        {% if master_element.name == element.name %}                           
                           {% assign already_used = 1 %}
                        {% endif %}  
                     {% endfor %}  
                     {% if already_used == 0 %}
                        {% for e in elements %}
                           {% if e.name == master_element.name %}
                              <li><a href="{{ site.url }}{{ e.url }}" target=="_blank" style="color: #FF0000">{{ master_element.label }}</a> - {{ e.description }}</li>
                           {% endif %}   
                        {% endfor %}  
                     {% endif %}   
                  {% endfor %}   
               {% endif %}   
               {% assign area_count = area_count | plus: 1 %}
            {% endfor %} 
            <!-- End Additional -->
            </div>
            </ul>
            <hr>
         {% endfor %}      
      </div>
      </center>

      <table align="center" width="50%">
         <tr>
            <td width="50%" align="right"><a href="{{ page.discussion }}" target="_blank"></a><img src="{{ site.url }}/images/github-issues-icon.png" width="100" align="right" style="padding: 10px;"></a></td>
            <td width="50%" align="left"><a href="{{ page.discussion }}" target="_blank" style="color:#000; font-size: 22px"><strong>Discussions</strong></a></td>
         </tr>
         <tr>
            <td align="right"><a href="{{ page.yaml }}" target="_blank"></a><img src="{{ site.url }}/images/yaml-icon.png" width="100" align="right" style="padding: 10px;"></a></td>
            <td align="left"><a href="{{ page.yaml }}" target="_blank" style="color:#000; font-size: 22px"><strong>YAML</strong></a></td>
         </tr>         
      </table>       
      <br>
   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>API Lifecycle Blueprints</h2>
         <p class="collection__end_p">Return to the main page of API lifecycle blueprints to look through the list of blueprints.
         </p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="{{ site.url }}">Return to Main Page</a></div>
   </div>
</div>
