<!DOCTYPE html>
<html lang="en" data-react-helmet="lang">
   <head>

      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>{{ site.title }}</title>

		<meta data-react-helmet="true" name="description" content="{{ site.description }}">

      <link data-react-helmet="true" href="https://postman-toolboxes2.s3.amazonaws.com/assets/bootstrap.min.css" rel="stylesheet">
      <link data-react-helmet="true" href="https://postman-toolboxes2.s3.amazonaws.com/assets/styles.css" rel="stylesheet">

   </head>
   <body>
      <div>
         <div>
            <div>

               <header class="header text-center navbar navbar-expand-xl navbar-light">
                  <div class="navbar-brand header__brand">
                    <a class="header__homelink" href="https://www.postman.com/">
                      <img class="header__logo" src="https://postman-toolboxes2.s3.amazonaws.com/assets/postman-logo-horizontal-white.svg" alt="Postman">
                      <span class="header__title"></span>
                    </a>
                  </div>
                  <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
                  <div class="header__right-links justify-content-end navbar-nav mr-auto navbar-collapse collapse show closed" id="navbarSupportedContent"></div>
               </header>

               <main>

                  {{ content }}

               </main>

               <footer class="footer"></footer>
            </div>
         </div>
      </div>

</body>
</html>
