---
layout: default
---
<div class="container-fluid hero v5_starfield-small-night-sky pb-4">
   <div class="container">
      <div class="row">
         <div class="col-md-6 hero_title" style="padding: 125px 0px 0px 0px; margin: 0px;">
            <h1><a href="{{ site.url }}" style="color: #FFF;">{{ site.title }}</a></h1>
         </div>
         <div class="col-md-6 hero_image" style="padding: 0px; margin: 0px;"><a href="{{ site.url }}"><img src="{{ site.url }}/images/lifecycle.png" alt="" width="350"></a></div>
      </div>
   </div>
</div>

<div>
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">{{ page.name }}</h2>
            <p>{{ page.description }}</p>
         </div>
      </div>

      <div style="width: 100%; border: 2px solid hsl(34, 100%, 50%); background-color: hsl(34, 100%, 50%); color: #000; text-align: center; margin-bottom: 35px;">   
         Does this provide what you need? Let us know by <a href="https://github.com/postman-open-technologies/lifecycle/issues" style="color: #000;">submitting issue</a>!
      </div>

      <center>
      <div style="width: 70%; border: 0px solid #000; text-align: left;" align="center">

         {{ content }}

         {% assign actions = site.actions %}
         {% assign elements = site.elements %}

         <!-- Show Video-->
         {% if page.video == '' %}
         {% else %}
            <hr>
           <center>{{ page.video }}</center>
            <hr>
         {% endif %}
         <!-- Show Video-->

         {% assign any_screenshots = 0 %}
         {% for screenshot in page.screenshots %}
            {% if screenshot.title != 'Screenshot Description' %}
               {% assign any_screenshots = 1 %}
            {% endif %}
         {% endfor %}     
         {% if any_screenshots == 1 %}      
            <h2>Screenshots</h2>
            <table width="100%">
               <tr>
                  {% for screenshot in page.screenshots %}
                     {% if screenshot.title != 'Screenshot Description' %}
                        <td width="33%" align="center">
                           <a href="{{ screenshot.url }}" target="_blank"><img src="{{ site.url }}/{{ screenshot.url }}" width="100%" style="border: 0px solid #000; padding: 2px;"></a>
                           <strong>{{ screenshot.title }}</strong>
                        </td> 
                     {% endif %}
                  {% endfor %}           
               </tr>         
            </table>         
            <hr>
         {% endif %}         

         <!-- Show Related Actions-->
         {% assign number_of_actions = page.actions | size %}
         {% if number_of_actions > 0 %}
            <h2>Actions</h2>
            <ul>
               {% for action in page.actions %}
                  {% for a in actions %}
                     {% if a.name == action.name %}
                        <li><a href="{{ site.url }}{{ a.url }}" target=="_blank">{{ action.name }}</a> - {{ a.description }}</li>
                     {% endif %}   
                  {% endfor %}  
               {% endfor %}    
            </ul>   
            <hr>
         {% endif %}   
         <!-- Show Related Actions-->   

         <!--Related Elements-->
         {% if page.elements %}
            <h2>Related Elements</h2>
            <ul>
            {% for this_element in page.elements %}
               {% for e in elements %}
                  {% if e.name == this_element.name %}
                     <li><a href="{{ site.url }}{{ e.url }}" target=="_blank" style="color: #000;"><strong>{{ this_element.label }}</strong></a> - {% if element.context %} {% if element.context == 1 %}{{ e.description[0] }} {% endif %}{% if element.context == 2 %}{{ e.description[1] }} {% endif %}{% if element.context == 3 %}{{ e.description[2] }}{% endif %} {% else %} {{ e.description }} {% endif %}</li>
                  {% endif %}   
               {% endfor %}    
            {% endfor %}  
            </ul>
         {% endif %}           
      
         <!-- Show Related Links-->
         {% assign any_links = 0 %}
         {% for link in page.links %}
            {% if link.title != 'Link Title' %}
               {% assign any_links = 1 %}
            {% endif %}
         {% endfor %}     
         {% if any_links == 1 %}           
            <h2>Related Links</h2>
            <ul>
               {% for link in page.links %}
                  {% if link.title != 'Link Title' %}
                     <li><a href="{{ site.url }}{{ link.url }}" target=="_blank">{{ link.title }}</a></li>
                  {% endif %}
               {% endfor %}   
            </ul>    
            <hr> 
         {% endif %}
         <!-- Show Related Links-->
         
         <!-- Show Related Blueprints-->
         {% assign blueprints = site.blueprints | sort: "name" %}
         {% assign any_blueprints = 0 %}
         {% for blueprint in blueprints %}
            {% for area in blueprint.areas %}         
               {% for element in area.elements %}
                  {% if page.name == element.name %}
                     {% assign any_blueprints = 1 %}
                  {% endif %}   
               {% endfor %} 
            {% endfor %}         
         {% endfor %}

         {% if any_blueprints == 1 %}
            <h3>Blueprints</h3>
            <ul>
            {% for blueprint in blueprints %}
               {% for area in blueprint.areas %}         
                  {% for element in area.elements %}
                     {% if page.name == element.name %}
                        <li style="padding: 0px; margin: 0px;"><a href="{{ site.url }}{{ blueprint.url }}" target=="_blank">{{ blueprint.name }}</a></li>
                     {% endif %}   
                  {% endfor %} 
               {% endfor %}         
            {% endfor %}
            </ul>
         {% endif %}   
         <!-- Show Related Blueprints-->

      </div>
      </center>
      

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>Return to Main Page</h2>
         <p class="collection__end_p">This provides a link back to the home page if you need it.
         </p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="{{ site.url }}">Return to Main Page</a></div>
   </div>
</div>