---
layout: default
---
<div class="container-fluid hero v5_starfield-small-night-sky pb-4">
   <div class="container">
      <div class="row">
         <div class="col-md-6 hero_title" style="padding: 125px 0px 0px 0px; margin: 0px;">
            <h1><a href="{{ site.url }}" style="color: #FFF;">{{ site.title }}</a></h1>
         </div>
         <div class="col-md-6 hero_image" style="padding: 0px; margin: 0px;"><a href="{{ site.url }}"><img src="{{ site.url }}/images/lifecycle.png" alt="" width="350"></a></div>
      </div>
   </div>
</div>

<div>
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">{{ page.name }}</h2>
            <p>{{ page.description }}</p>
         </div>
      </div>

      <center>
      <div style="width: 70%; border: 0px solid #000; text-align: left;" align="center">

         {{ content }}

         {% assign actions = site.actions %}

         <!-- Show Video-->
         <hr>
         <center>{{ page.video }}</center>
         <p align="center">[Just an Example Video]</p>
         <hr>
         <!-- Show Video-->

         <table width="100%">
            <tr>
               {% for screenshot in page.screenshots %}
               <td width="33%" align="center">
                  <a href="{{ screenshot.url }}" target="_blank"><img src="{{ screenshot.url }}" width="100%" style="border: 2px solid #000; padding: 2px;"></a>
                  <strong>{{ screenshot.title }}</strong>
               </td> 
               {% endfor %}           
            </tr>         
         </table>         
         <hr>
         <!-- Show Related Actions-->
         {% assign number_of_actions = page.actions | size %}
         {% if number_of_actions > 0 %}
            <h2>Related Actions</h2>
            <ul>
               {% for action in page.actions %}
                  {% for a in actions %}
                     {% if a.name == action.name %}
                        <li><a href="{{ site.url }}{{ a.url }}" target=="_blank">{{ action.name }}</a> - {{ a.description }}</li>
                     {% endif %}   
                  {% endfor %}  
               {% endfor %}    
            </ul>   
            <hr>
         {% endif %}   
         <!-- Show Related Actions-->   
      
         <!-- Show Related Links-->
         <h2>Related Links</h2>
         <p>These are some useful links to help support this element of the API lifecycle.</p>
         <ul>
            {% for link in page.links %}
               <li><a href="{{ site.url }}{{ link.url }}" target=="_blank">{{ link.title }}</a></li>
            {% endfor %}   
         </ul>    
         <!-- Show Related Links-->
         <hr>
         <!-- Show Related Blueprints-->
         {% assign blueprints = site.blueprints | sort: "name" %}
         <h3>Blueprints</h3>
         <p>These are some of the API lifecycle blueprints that use this element of the API lifecycle.</p>
         <ul>
         {% for blueprint in blueprints %}
            {% if blueprint.name != 'Master' %}
               {% for area in blueprint.areas %}         
                  {% for element in area.elements %}
                     {% if page.name == element.name %}
                        <li style="padding: 0px; margin: 0px;"><a href="{{ site.url }}{{ blueprint.url }}" target=="_blank">{{ blueprint.name }}</a></li>
                     {% endif %}   
                  {% endfor %} 
               {% endfor %} 
            {% endif %}           
         {% endfor %}
         </ul>
         <!-- Show Related Blueprints-->

      </div>
      </center>
      

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>API Lifecycle Blueprints</h2>
         <p class="collection__end_p">Return to the main page of API lifecycle blueprints to look through the list of blueprints.
         </p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="/">Return to Main Page</a></div>
   </div>
</div>
