---
layout: default
---
<h2>{{ page.title }}</h2>
<p><span class="post-date">{{ page.date | date_to_string }}</span></p>
{{ content }}
<hr />
<ul class="pagination" style="text-align: center;">
	{% if page.previous %}
		<li style="text-align:left;"><a href="{{ site.production_url }}{{ page.previous.url }}" class="button"><< Prev</a></li>
	{% else %}
		<li style="text-align:left;"><a href="{{ site.production_url }}{{ page.previous.url }}" class="button disabled"><< Prev</a></li>
	{% endif %}
		<li style="width: 75%"><span></span></li>
	{% if page.next %}
		<li style="text-align:right;"><a href="{{ site.production_url }}{{ page.next.url }}" class="button">Next >></a></li>
	{% else %}
		<li style="text-align:right;"><a href="{{ site.production_url }}{{ page.next.url }}" class="button disabled">Next >></a></li>
	{% endif %}
</ul>
